@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  font-family: "Poppins",sans-serif;
}
.fontClass{
  font-family: "Poppins",sans-serif;
}

.home-logo{
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

.home-btn{
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-login-btn{
  color: #fff;
  font-size: 20px;
}
.home-login-btn:hover {
  color: rgb(255, 253, 253);
}

/*sidebar*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

nav {
  margin: 0 auto;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-size: x-large;
}
nav ul li a {
  display: block;
  padding: 25px;
  text-decoration: none;
  color: rgb(252, 244, 244);
  font-weight: 500;
  margin: 0 28px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: rgb(255, 253, 253);
  font-weight: 600;
}
nav.shift ul li a {
  position:relative;
  z-index: 1;
  font-size: large;
}
nav.shift ul li a:hover {
  color: #1f2635;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #fff;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 75%;
}

/*navbar*/
#nav-dropdown{
  margin-top: 20px;
  padding-right: 90px;
  color: #fff;
  font-size: 17px;
  /* background-color: #fff; */
}
.logout{
  font-size: 17px;
  font-weight: 600;
}




.breadcrumb{
  height: 10px;
  size: 10px;
}


/*login*/
.backdrop{
  width: 100%;
  height: 100%;
  background-color: #1f2635;
}
.login-form{
  width:100%;
  max-width:330px;
  height:340px;
  padding: 10px;
  margin: auto;
  background-color: rgb(239, 239, 248);
}
.reset-form{
  width:100%;
  max-width:330px;
  padding: 10px;
  margin: auto;
  background-color: rgb(239, 239, 248);
}
.perfect-centering {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.logo{
  padding-bottom: 10px;
  font-size: 30px;
}
.gap{
  padding:3px;
}
.x-gap{
  padding-top:10px;
}

.nav{
  background-color: #1f2635;
  width:100px
}

.sidebar {
  position: fixed;
  background-color: #1f2635;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  height:100%;
  z-index: 10;
  padding: 20px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-item{
  color:#fff;
  font-size: 18px;
  font-weight: lighter;
}
.navbar-item{
  padding-left: 55px;
  font-size:x-large;
  font-weight: bold;
}
.welcome{ 
  font-size: xx-large; 
  font-weight: 600;
  padding-top: 40px;
  padding-left: 40px;
}
.card-item{
  
  color:rgb(31, 28, 28);
  font-size: large;
  font-weight: bold;
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  padding-top: 100px;
  min-width: 0;
  width: 100%;
}
#fee-content-wrapper {
  padding-top: 40px;
  padding-left: 80px;
  min-width: 0;
  width: 100%;
}
#fee-card-wrapper {
  padding-top: 2px;
  padding-left: 75px;
  min-width: 0;
  width: 100%;
}
#tc-content-wrapper {
  padding-top: 30px;
  padding-left: 80px;
  min-width: 0;
  width: 100%;
}
#tc-card-wrapper {
  padding-top: 0px;
  padding-left: 145px;
  min-width: 0;
  width: 100%;
}
#pay-fee-wrapper {
  padding-top: 210px;
  padding-right:100px;
  padding-left: 100px;
  min-width: 0;
  width: 100%;
}
#payment-wrapper {
  padding-top: 100px;
  padding-right:150px;
  
  min-width: 0;
  width: 100%;
}
#pro-pic-wrapper {
  padding-top: 10px;
  padding-left: 65px;
  min-width: 0;
  width: 50%;
}
#pro-table-wrapper {
  padding-top: 60px;
  padding-left: 140px;
  min-width: 0;
  width: 100%;
}
#pro-btn-wrapper {
  padding-top: 50px;
  padding-left: 75px;
  min-width: 0;
  width: 100%;
}


  .bg {
 background-color: #1f2635;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .drop{
    width: 15%;
    padding-left: 600px;
    padding-top: 80px;
  }
  .drop2{
    width: 15%;
    padding-left: 600px;
    padding-top: 25px;
  }

.user-card{
  color: #1c1c30;
  font-weight: bold;
  font-size: x-large;
  text-align: left;
  padding-top: 10px;
}
.admin-card{
  color: #c50d0d;
  font-size: x-large;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
}

.profile{
  padding-left: 20px;
  padding-top: 30px;
  width:179px;
  height:180px
}
.profile-card{
  padding-top:130px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.profile-btn{
  padding-top:20px;
  padding-left: 25px;
  width: 20px;
}

.fee-card{
  padding-top: 120px;
  
}
.fee-h1{
  font-weight: 600;
  color:rgb(236, 22, 68)
}
.fee-h2{
  font-weight: 600;
  color:rgb(44, 32, 35)
}
.fee-p{
  color: #1a1112;
  font-weight: 500;
}

.button{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: large;
}

.pill-button{
  
  border: none;
  color:rgb(250, 240, 240);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: large;
  font-weight: 500;
}

.pill-button:hover {
  background-color: #f70e0e;
}





body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  width: 100%;
  height: 100%;
  
}

.btn-pos {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  width: 100%;
  height: 25%;
  
}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 8px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}

.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px #1189de;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}

.rem-btn {
  
  min-width: 120px;
  color: #ddd2d2;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #af2d2d;
  border-radius: 4px;
  background: rgb(187, 35, 35);
  cursor: pointer;
 }

 .otp-btn {
  
  min-width: 100px;
  color: #f8f2f2;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: solid 2px #4b14ca;
  border-radius: 4px;
  background: rgb(62, 34, 163);
  cursor: pointer;
 }

 a {
   font-size: 15px;
   color : #fff;
   padding: 12px;
   text-align: center;


 }
 p{
   text-align: center;
   color: #fff;
 }

 .home{
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ivory;
 }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}









